header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    position: sticky;
    font-weight: bolder;
    top: 0;
    z-index:1000;
}
#scrollNav {
    margin-top: 1vh;
    width: 90vw !important;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.925) !important;
    transition: all 0.5s ease;
    border: 4px solid var(--detalles);
}
header nav {
    transition: all 0.5s ease;
    align-items: center;
    display: flex;
    background-color: white;
    border-bottom: 4px solid var(--detalles);
    height: 7.5vh;
    width: 100vw;
}

header h3::first-letter {
    color: var(--detalles);
}
.navbar-brand {
    display: flex;
    margin-left: 1vw;
}
/*Header*/

a.nav-link {
    text-decoration: none;
    color: black !important;
}
[class^="nav-item active"] a{
    transition: all ease-in-out 0.3s;
}

.nav-item:hover{
    transform: scale(1.1);

}
header li{
    margin-left: 2rem;
}
.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    margin-left: 20rem;
}
#registro{
    transition: all ease-in-out 0.5s;
    background-color: white !important;
    color: var(--detalles);
    border: 2px solid var(--detalles);
}

#registro:hover {
    background-color: var(--detallesClaro) !important;
    color: white;
}
.menu button{
    border: 2px solid var(--detalles) !important;
    margin-right: 2rem;
    background-color: var(--detalles);
    font-weight: bold;
    color: white;
    border: 0;
}
.menu button:hover{
    border: 2px solid var(--detallesClaro) !important;
    background-color: var(--detallesClaro);
}
.menu ul li a
{
    font-size: large;
}
.menu ul li a::first-letter
{
    color: var(--detalles);
}
svg {
    height: 3.5vh;
    margin-right: 0.5rem;
}
/*Footer*/

footer {
    width: 100%;
    height: 20vh;
    margin-top: 2rem;
}
footer section:first-child {
    background-color: var(--detalles);
}

footer hr {
    width: 70px;
    background-color: var(--detalles);
    height: 3px;
}

footer span {
    font-weight: bold;
}
a 
{
    text-decoration: none;
}


