:root {
    --detalles: #1ac369;
    --detallesClaro: #ffb14b;
    --fondoWeb: #252525;
}
body {
    background-color: var(--fondoWeb);
    color: white;
}

main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    position: sticky;
    top: 0;
    z-index:1000;
}
.scrollNav {
    margin-top: 1vh;
    width: 90vw !important;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.904);
    transition: all 0.5s ease;
    border: 4px solid var(--detalles);
}
header nav {
    transition: all 0.5s ease;
    align-items: center;
    display: flex;
    background-color: white;
    height: 7.5vh;
    width: 100vw;
}

main a, header a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    color: white;
}

header h3 {
    margin-top: 1rem;
}
header h3{
    color: black;
    margin: 0;
    margin-right: 0;
}
header h3::first-letter {
    color: var(--detalles);
}

main h3::first-letter{
    color: var(--detalles);
}

a 
{
    text-decoration: none;
}


.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.267);
    width: 85vw;
    height: 48vh;
    border-radius: 1rem;
}

.wrapper {
    display: flex;
    overflow: hidden;
    width: 66vw;
}

.wrapper>.inner {
    display: flex;
    column-gap: 1em;
    transition: all 1s ease-in-out;
}


.center .card {
    height: 38vh;
    width: 25vh;
    border-radius: 0.5em;
}

.center .card>img {
    border-radius: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.center .card>.content {
    background-color: red !important;
    color: black !important;
}

.map {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.map>.botones {
    width: 50vw;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

}

.map>.botones>button {
    all: unset;
    background-color: var(--detalles);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    user-select: none;
    border-radius: 1rem 1rem 1rem 1rem;
    height: 1rem;
    width: 1rem;
    transition: width 0.2s ease-in-out !important;
}

button[class*="active"]{
    background-color: var(--fondoWeb) !important;
    border: var(--detalles) 2px solid !important;
    transition: width 0.2s ease-in-out !important;
    height: 0.9rem !important;
    width: 2rem !important;
    border-radius: 1rem 1rem 1rem 1rem !important;
    /* background-color: var(--detallesClaro) !important; */
}
.VerMas {
    color: var(--detalles);
    text-align: center;
    border: 2;
    width: 3vh;
    height: 3vh;
    padding: 2px 2px 2px 2px;
    border-radius: 8px;
    display: flex;
    background-color: var(--fondoWeb) !important;
    border: var(--detalles) 2px solid !important;
}
.VerMas:hover {
    background-color: var(--detalles);
}