:root {
    --detalles: #1ac369;
    --detallesClaro: #36df85;
    --fondoWeb: #252525;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    min-height: 100vh;
}


.contenido{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 77.1vw;
    transition: none;
}

.pelicula{
    width: 11.9vw;
    height: 17.8vw;
    margin: 2rem;
    margin-bottom: 6rem;
    margin-top: 1.4rem;
}

.titulo {
    text-align: center;
    margin-top: 1rem;
    font-weight: bolder;
}

.contenido img{
    z-index: 50;
    border-radius: 0.5em;
    transition: all ease-in-out 0.3s;
    width: 100%;
    height: 100%;
    border: var(--detalles) solid 2px ;
}
.contenido img:hover{
    box-shadow: 0px 10px 10px -6px var(--detalles);
    transform: scale(1.1);
}

.contenido img:hover + span{
    padding: 16px;
    font-size: 2rem;
}

.contenido img:hover + .titulo{
    font-size: larger;
}

.pelicula span{
    position: relative;
    z-index: 99;
    margin-left: -1vw;
    padding: 10px;
    border-radius: 100%;
    border: 2px var(--detallesClaro) solid;
    color: white;
    font-weight: bolder;
    transition: all ease-in-out 0.3s;
}

.rojo {
    background-color: rgb(255, 17, 17);
}
.naranja {
    background-color: rgb(233, 124, 51);
}
.amarillo {
    background-color: rgb(224, 183, 0);
}
.verde {
    background-color: var(--detalles);
}

.orden {
    margin-top: 1rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 0.4rem;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s, box-shadow 250ms;
    background-color: var(--detalles);
}

.orden:hover{
    background-color: var(--detallesClaro);
}
