:root {
    --detalles: #ff9100;
    --detallesClaro: #ffa835;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    position: sticky;
    top: 0;
    z-index:1000;
}

.scrollNav {
    margin-top: 1vh;
    width: 90vw !important;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
    transition: all 0.5s ease;
}
nav {
    transition: all 0.5s ease;
    align-items: center;
    display: flex;
    background-color: white;
    height: 7.5vh;
    width: 100vw;
}
header h3{
    color: black;
    margin: 0;
    margin-right: 0;
}
h3::first-letter {
    color: var(--detalles);
}

.contenido{
    margin-top: 2rem;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.pelicula{
    width: 11.9vw;
    height: 17.8vw;
    border: var(--detalles) solid 2px ;
    
    margin: 2rem;
    margin-bottom: 6rem;
    margin-top: 0px !important;
    transition: all ease-in-out 0.3s;
}

.pelicula:hover{
    position: relative;
    width: 12.4vw;
    height: 18.2vw;
    box-shadow: 0px 10px 10px -6px var(--detalles);
}

.titulo {
    text-align: center;
    margin-top: 1rem;
    font-weight: bolder;
}

img{
    width: 100%;
    height: 100%;
}

span{
    position: static;
    margin-left: -1vw;
    background-color: var(--detallesClaro);
    padding: 10px;
    border-radius: 100%;
    border: 2px white solid;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
}
footer {
    width: 100%;
    height: 20vh;
    position:relative;
    padding: 0 0 1rem 0;
    margin-bottom: 0;
    margin-top: 5vh;
    background-color: var(--detalles);
}