:root {
    --detalles: #1ac369;
    --detallesClaro: #36df85;
    --fondoWeb: #252525;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.contenido{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 77.1vw;
    transition: none;
}

.pelicula{
    width: 11.9vw;
    height: 17.8vw;
    margin: 2rem;
    margin-bottom: 7.4rem;
    margin-top: 1.4rem;
}

.titulo {
    text-align: center;
    margin-top: 1rem;
    font-weight: bolder;
}

.contenido img{
    z-index: 50;
    border-radius: 0.5em;
    transition: all ease-in-out 0.3s;
    width: 100%;
    height: 100%;
    border: var(--detalles) solid 2px ;
}
.contenido img:hover{
    box-shadow: 0px 10px 10px -6px var(--detalles);
    transform: scale(1.1);
}

.contenido img:hover + span{
    font-size: 2rem;
}

.pelicula span{
    position: relative;
    z-index: 99;
    margin-left: -1vw;
    padding: 10px;
    border-radius: 100%;
    border: 2px var(--detallesClaro) solid;
    color: white;
    font-weight: bolder;
    transition: all ease-in-out 0.3s;
}

.rojo {
    background-color: rgb(255, 17, 17);
}
.naranja {
    background-color: rgb(233, 124, 51);
}
.amarillo {
    background-color: rgb(224, 183, 0);
}
.verde {
    background-color: var(--detalles);
}
.nada {
    color: transparent !important;
    border: transparent !important;
}

.manejaWeb .orden {
    width: 20vh;
    margin-top: 1rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border: 2px transparent solid;
    border-radius: 0.4rem;
    appearance: none;
    cursor: pointer;
    transition: all ease-in-out 0.15s;
    background-color: var(--detalles);
    z-index: 77;
    margin-left: 20vh;
}
.manejaWeb .orden:hover{
    border: 2px white solid;
    background-color: var(--detalles);
}

.manejaWeb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.navegaPag {
    margin-left: -22.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.anterior, .siguiente {
    margin: 1vh;
    height: fit-content;
    width: fit-content;
    border-radius: 0.4rem;
    background-color: var(--fondoWeb);
    border: 2px white solid;
    padding-left: 1rem;
}

.anterior svg, .siguiente svg{
    fill: var(--detalles);
}

.anterior:hover, .siguiente:hover {
    background-color: var(--detallesClaro);
}

.anterior:hover svg, .siguiente:hover svg{
    fill: var(--fondoWeb);
}

.navega {
    margin-top: 1rem;
    width: 77vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


