body {
    background-color: rgb(37, 37, 37);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}

body::-webkit-scrollbar {
    display: none;
}

b {
    /*color: #fa89d3;*/
    color: #89d8fa;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    position: sticky;
    top: 0;
    z-index:1000;
}
.scrollNav {
    margin-top: 1vh;
    width: 90vw !important;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
    transition: all 0.5s ease;
}
nav {
    transition: all 0.5s ease;
    align-items: center;
    display: flex;
    background-color: white;
    height: 7.5vh;
    width: 100vw;
}

a {
    color: rgb(255, 145, 0);
}

h3 {
    margin-top: 1rem;
}
header h3{
    color: black;
    margin: 0;
    margin-right: 0;
}
h3::first-letter {
    color: rgb(255, 145, 0);
}

.popu, .extras, .cartelera{
    
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 145, 0);
}

[class="btn btn-primary me-3"] {
    background-color: rgb(255, 145, 0);
    border: none;
}

[class="btn btn-primary me-3"]:hover {
    background-color: rgb(224, 172, 0);
    border: none;
}

[class="btn btn-link px-3 me-2"] {
    color: rgb(37, 37, 37);
}

[class="btn btn-link px-3 me-2"]:hover {
    color: rgb(255, 145, 0);
}




constantes {
    --bgBlue: #001d38;
    --cardBlue: #0a2640;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.267);
    width: 85vw;
    height: 48vh;
    border-radius: 1rem;
}

.wrapper {
    display: flex;
    overflow: hidden;
    width: 50vw;
}

.wrapper>.inner {
    display: flex;
    column-gap: 1em;
    transition: all 1s ease-in-out;
}


.card {
    height: 38vh;
    width: 27vh;
    border-radius: 0.5em;
}

.card>img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.card>.content {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1em;
    text-align: center;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.map>.botones {
    width: 50vw;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

}

.map>.botones>button {
    all: unset;
    background-color: rgb(255, 145, 0);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    user-select: none;
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
}

.map>.botones>button.active:after {
    background-color: #ffffff;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 100%;
    height: 0.5rem;
    width: 0.5rem;
}

.VerMas {
    background-color: rgb(255, 145, 0);
    color: white;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 8px;
    display: inline-flex;
    text-align: center;
    text-justify: center;
}
.VerMas:hover {
    background-color: rgb(255, 145, 0);
}