:root {
    --detalles: #ff9100;
    --detallesClaro: #ffb14b;
    --fondoWeb: #252525;
}
/* FOOTER */
footer {
    background-color: #1c2331
}

footer section:first-child {
    background-color: var(--detalles);
}

footer hr {
    width: 70px;
    background-color: var(--detalles);
    height: 3px;
}

footer span {
    font-weight: bold;
}
footer a 
{
    text-decoration: none;
}